name: Build and test code

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  call-reusable-workflow:
    uses: jeanpierrefortune/keyple.keyple-actions/.github/workflows/reusable-cpp-build-and-test.yml@main
